@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-neutral: #f3f3f3;
  --main-dark: #154c79;
  --main-dark-highlight: #7adceb;
  --main-accent: #cdd3d4;
  --main-accent-highlight: #dadfe0;
  --color-pop: #f5cf25;
  --color-pop-highlight: #ffd726;
  --main-white: #fff;
  --main-black: #333;
}

/* 
body {
  background-color: var(--main-neutral);
  background-image:url(../images/bg-retro.png)
} */

h3 {
  font-size: 1.5rem;
}

a {
  color: var(--main-dark);
}

select {
  width: 100%;
  padding: 0.75rem;
  margin: 0.625rem 0;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

.container {
  margin: auto;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #1a1a1a;
  padding-left: 10px;
  padding-right: 10px;
}

.wallpaper {
  background-image: url(../src/assets/magnet.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  background-color: #154c79;
  color: #fff;
  white-space: nowrap;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 14px;
  margin: 10px;
}

.btn:hover {
  background-color: var(--main-accent-highlight);
  color: #fff;
}

.btn-submit,
#create-post {
  background-color: #154c79;
}

.btn-submit:hover,
#create-post:hover {
  background-color: #154c79;
}

#nav-logout.btn:hover {
  color: var(--main-dark);
}

nav a,
nav .btn {
  margin: 0 0 0 25px;
  color: var(--main-black);
  background: none;
  padding: 0;
}

nav a:hover,
nav .btn:hover {
  background: none;
  cursor: pointer;
  text-decoration: underline;
}

.title-bar {
  background-color: var(--main-dark);
  color: var(--main-white);
}

main {
  padding-bottom: 80px;
}

main .registration-form-outer,
main .login-form-outer {
  background-color: var(--main-white);
  border-radius: 6px;
  border: 1px solid #484848;
}

main .blogroll-post {
  background-color: var(--main-white);
  margin: 40px 0 10px;
  border-radius: 6px;
  overflow: hidden;
}

.blogroll-post h3.post-title {
  background-color: #154c79;
  color: var(--main-white);
  font-size: 1.25rem;
  padding: 10px 25px;
}

main .blogroll-post h3.post-title .meta {
  font-weight: normal;
  font-size: 0.8rem;
}

main .blogroll-post .post-content {
  padding: 15px 25px 10px;
  text-align: center;
}

main .blogroll-post .post-content .lineBR {
  display: none;
}

main .blogroll-post .post-comments {
  padding: 10px 25px;
}

main .blogroll-post .post-comments ul {
  margin: 0;
  padding: 0;
}

main .blogroll-post .post-comments ul li {
  list-style: none;
  margin: 10px 0 5px;
  background-color: var(--main-neutral);
  padding: 10px 25px;
  border-radius: 12px 12px 12px 0;
}

main .blogroll-post .post-comments ul li .meta {
  padding-top: 10px;
  font-size: 0.8rem;
}

main .blogroll-posts #create-post {
  margin-top: 20px;
  cursor: pointer;
}

main input#newpost-title {
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
}

main .blogroll-posts .post-buttons,
main .post-comment-button,
main .post-comment-form-outer {
  padding: 0 25px 15px 25px;
}

main .post-comment-button {
  text-align: center;
}

main .post-comment-form-outer {
  display: none;
}

main .blogroll-posts .post-buttons .btn {
  margin-left: 10px;
}

main .user-login,
main .user-registration,
main .create-a-post {
  padding: 0;
}

main .user-login form a,
main .user-registration form a,
main .create-a-post form a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: underline;
}

main .create-a-post textarea {
  height: 160px;
}

main .query-builder .btn,
main .create-a-post-form .btn,
main .update-a-post-form .btn {
  margin: 0 0 0.625rem 0;
}

main .query-builder .btn {
  white-space: nowrap;
  font-weight: bold;
}

main .query-builder input,
main .query-builder select,
main .create-a-post-form input,
main .update-a-post-form input {
  margin: 0 10px 10px 0;
}

main .other-options button {
  margin-bottom: 10px;
}

main .collapse-outer {
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  margin: 25px 0 0 0;
  overflow: hidden;
}

main h3.collapse {
  background-color: var(--main-dark);
  color: var(--main-white);
  padding: 10px 25px;
  margin-bottom: 0px;
  text-align: right;
  font-size: 1rem;
}

main .collapse-content {
  padding: 0 25px 10px;
  background-color: var(--main-white);
}

main .collapse-content .form-group {
  padding-top: 20px;
  margin-top: 0px;
}

main #words-finder-form h3 {
  white-space: nowrap;
  margin: 0 25px 0 0;
  padding: 0;
  line-height: 46px;
}

main #word-list-static {
  padding-top: 10px;
}

main #poem-container {
  background-color: var(--main-white);
  min-height: 200px;
  margin: 20px 0 10px 0;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.3);
  padding: 20px 25px;
  text-align: center;
}

main #poem-container.empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  color: #ddd;
}

.magnet {
  padding: 5px 12px;
  border: 2px solid var(--main-black);
  color: var(--main-black);
  background-color: var(--main-white);
  border-radius: 6px;
  font-size: 1.35rem;
  text-transform: uppercase;
  margin: 0 10px 10px 0;
  display: inline-block;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

main #word-list-static .magnet:hover,
main #word-list-dynamic .magnet:hover,
main #poem-container .magnet:hover {
  background-color: var(--main-accent-highlight);
  cursor: pointer;
}

main #poem-container .magnet {
  background-color: #154c79;
  color: white;
}
main #poem-container .magnet:hover {
  background-color: var(--main-accent-highlight);
}

.btn.floating {
  border: 3px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
